body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #222;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessboard {
  margin: auto;
  display: grid;
  width: min-content;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-family: monospace;
  font-weight: 800;
  position: relative;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.coordinates {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.coordinates text {
  fill: #0000007b;
}

.square {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 0;
  pointer-events: all;
}

.dropzone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #dbdbdb;
}

.white.selected {
  background-color: #d5d691;
}

.black {
  background-color: #999999;
}

.black.selected {
  background-color: #979363;
}

.hovered {
  box-sizing: border-box;
  border: 5px solid #f0f0f0;
  cursor: grabbing !important;
}

.hovered .piece {
  cursor: grabbing !important;
}

.piece {
  width: 100px;
  height: 100px;
  cursor: grab;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 2;
  pointer-events: all;
}

.dragging {
  z-index: 4;
  cursor: grabbing;
}

.dragging:hover {
  pointer-events: none;
}
