body {
  margin: 0;
  background: #222;
}

.container {
  margin: auto;
  display: grid;
  width: min-content;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin-top: 30px;
  font-family: monospace;
  font-weight: 800;
  position: relative;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.box {
  width: 100px;
  height: 100px;
}

.dropzone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-label {
  position: absolute;
  top: 2px;
  left: 2px;
}

.col-label {
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.piece {
  width: 100%;
  height: 100%;
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: url(images/grab.cur); /* fallback: Chrome 1-21, Firefox 1.5-26, Safari 4+, IE, Edge 12-14, Android 2.1-4.4.4 */
  cursor: grab; /* W3C standards syntax, all modern browser */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dragging:active {
  cursor: grabbing;
  cursor: url(images/grabbing.cur);
}

.ghost {
  opacity: 0;
}

.white {
  background-color: #cdcdcd;
}

.black {
  background-color: #787878;
}